.width-100{
    width: 100% !important;
}
.txt-center {
    text-align: center;
    font-size: 20px !important;
}
.name-txt {
    font-size: 3em !important;
    font-weight: bold;
}
.btn {
    background-color: transparent !important;
}
.btn span{
    font-size: 14px !important;
    font-weight: bold !important;
}
.qty-txt {
    font-size: 20px !important;
    font-weight: bold !important;
}